// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
}

input {
    font-family: 'Gilroy',sans-serif;
    outline: none;
}

button {
    font-family: 'Gilroy',sans-serif;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.new_wrapper {
    overflow: visible !important;
}

.main_container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}

// header
header {
    position: fixed;
    z-index: 4;
    top: 20px;
    width: 100%;

    .header_in {
        position: relative;
        border-radius: 20px;
        background: rgb(36, 100, 197);
        padding: 10px 14px;
        @include flex-center();
        justify-content: space-between;
    }

    .header_media_logo {
        display: none;
    }

    .burger_btn {
        display: none;
    }

    .nav_link {
        width: 404px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include flex-center();
        gap: 12px;
        padding: 6px 12px;
        border-radius: 12px;
        background: rgb(255, 255, 255);

        a {
            padding: 6px 10px;
            color: rgb(36, 100, 197);
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
        }
    }

    .language {
        border-radius: 12px;
        padding: 6px;
        background: rgb(255, 255, 255);

        a {
            padding: 4px 12px;
            border-radius: 8px;
            color: rgb(36, 100, 197);
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
        }

        .active {
            color: rgb(255, 255, 255);
            background: rgb(36, 100, 197);
        }
    }
}
// header

// home
.home {
    height: 500px;

    .home_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .home_bg_media {
        display: none;
    }

    .main_container {
        transform: translateY(-70px)
    }

    .slider_card {
        position: relative;
        width: 100%;

        .slider_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 10px;
        }
    }

    .slider_logo {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    h6 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        position: static;
    }

    .swiper-pagination-bullet {
        background: rgb(193, 191, 191);
        margin: 0 5px;
    }

    .swiper-pagination-bullet-active {
        background: rgb(179, 179, 179);
    }
}
// home

// news
.news {
    .news_cards {
        max-width: 1047px;
        margin: 115px auto 40px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .news_card {
        width: calc(100% / 2 - 10px);

        &:hover {
            .news_icon, .card_img_in {
                opacity: 1;
            }
        }
    }

    .news_card_img {
        position: relative;
        border-radius: 14px;
        overflow: hidden;
        height: 200px;

        .main_img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card_img_in {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(36, 100, 197, 0.15);
            z-index: 2;
            @include transition();
            opacity: 0;
        }

        .news_icon {
            position: absolute;
            bottom: 13px;
            right: 10px;
            border-radius: 7px;
            @include flex-full-center();
            background: #2464C5;
            padding: 6px;
            z-index: 3;
            @include transition();
            opacity: 0;
        }

        data {
            z-index: 3;
            padding: 6px;
            border-radius: 7px;
            position: absolute;
            top: 10px;
            left: 10px;
            background: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;

        }
    }

    span {
        margin: 10px 0 4px;
        color: rgb(212, 42, 37);
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        opacity: 0.8;
    }

    h6 {
        color: rgb(27, 27, 27);
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    p {
        color: rgb(77, 77, 77);
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .news_card_btn {
        @include flex-full-center();
        margin-bottom: 55px;
    }

    .more_btn {
        color: rgb(36, 100, 197);
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        padding: 12px 20px;
        border-radius: 6px;
        background: rgb(234, 240, 250);
    }
}
// news

// new
.new {
    margin: 190px 0 100px;

    .main_container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 50px;
    }

    .last_news {
        position: sticky;
        top: 0;
        width: 300px;

        h6 {
            color: rgb(36, 100, 197);
            font-size: 22px;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 30px;
        }
    }

    .last_news_list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
            margin-bottom: 6px;
            color: rgb(128, 128, 128);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }

        p {
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 125%;
            padding-bottom: 10px;
        }

        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    .new_title_top {
        @include flex-center();
        justify-content: space-between;
        margin-bottom: 15px;

        span {
            color: rgb(212, 42, 37);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            opacity: 0.8;
        }

        p {
            color: rgb(77, 77, 77);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }

    .new_title {
        margin-bottom: 30px;

        h3 {
            color: rgb(0, 0, 87);
            font-size: 28px;
            font-weight: 700;
            line-height: 130%;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    .new_content {
        max-width: 833px;
    }
}
// new

// new_content_cards
.new_content_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;

    span {
        color: rgb(128, 128, 128);
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        margin-top: 10px;
    }

    p {
        margin-top: 10px;
        color: rgb(77, 77, 77);
        font-size: 18px;
        font-weight: 400;
        line-height: 125%;
    }
}
// new_content_cards



@import './responsive';